[submodule "dep/moment"]
	path = dep/moment
	url = https://github.com/moment/moment.git
[submodule "dep/mini-event"]
	path = dep/mini-event
	url = https://github.com/ecomfe/mini-event.git
[submodule "dep/underscore"]
	path = dep/underscore
	url = https://github.com/leowang721/underscore.git
[submodule "dep/oo"]
	path = dep/oo
	url = https://github.com/ecomfe/oo.git
