[submodule "dep/er"]
    path = dep/er
    url = git@github.com:ecomfe/er.git
[submodule "dep/eoo"]
    path = dep/eoo
    url = git@github.com:ecomfe/eoo.git
[submodule "dep/etpl"]
    path = dep/etpl
    url = git@github.com:ecomfe/etpl.git
[submodule "dep/mini-event"]
    path = dep/mini-event
    url = git@github.com:ecomfe/mini-event.git
[submodule "dep/moment"]
    path = dep/moment
    url = git@github.com:moment/moment.git
[submodule "dep/underscore"]
    path = dep/underscore
    url = git@github.com:jashkenas/underscore.git